@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 263 78% 22%; /* #370E62 */
    --foreground: 0 0% 98%; /* #FAFAFA */

    --card: 0 0% 100%;
    --card-foreground: 263 78% 12%;

    --popover: 263 78% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 46 100% 48%; /* #F5C300 */
    --primary-foreground: 263 78% 12%; /* Darker Purple */

    --secondary: 320 100% 36%; /* #B6007D */
    --secondary-foreground: 0 0% 98%;

    --muted: 263 78% 32%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 320 100% 36%; /* #B6007D */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 320 100% 46%;
    --input: 320 100% 46%;
    --ring: 46 100% 48%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 263 78% 22%; /* #370E62 */
    --foreground: 0 0% 98%;
    --card: 0 0% 100%;
    --card-foreground: 263 78% 12%;
    --popover: 263 78% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 46 100% 48%; /* #F5C300 */
    --primary-foreground: 263 78% 12%;
    --secondary: 320 100% 36%; /* #B6007D */
    --secondary-foreground: 0 0% 98%;
    --muted: 263 78% 32%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 320 100% 36%; /* #B6007D */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 320 100% 46%;
    --input: 320 100% 46%;
    --ring: 46 100% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
